{% include 'main/bootstrap/header.twig' %}

{% if user['auth'] %}

{% else %}
<style>.app-content {padding-left:0}</style>

    <div class="home-head">
        <div class="home-head-bg" style="height:125px"></div>
    </div>
{% endif %}
<div class="app-content">
   <!-- page-content -->
   <div class="container-fluid">
      <div class="row mt-4">
         <div class="col-lg-12">
            <section class="blog-side">
               <div class="row">
                  <div class="col-lg-12 col-12 mb-5 mb-lg-0">
                     <div class="container">
                        <div class="row">
                           <div class="col-lg-12">
						   {% for post in blogList %}
                              <div class="d-card dc-dblue">
                                 <div class="d-card-body" id="dc-body">
                                    {% if post['blog_image'] %}
                                    <p><img src="{{ post['blog_image'] }}" alt="{{ post['blog_title'] }}" class="img-responsive" style="width:100%;"></p>
                                    {% endif %}
                                    <h1>{{ post['blog_title'] }}</h1>
                                    <div class="img-fluid" style="max-width:100%; word-wrap: break-word;">{{ post['blog_content'] }}</div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-md-12">
                                    <a href="{{ site['url'] }}/blog" class="btn btn-primary">{{ lang['blog.back'] }}</a>
                                 </div>
                              </div>
							{% endfor %}
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </div>
   </div>
</div>


{% include 'main/bootstrap/footer.twig' %}