{% include 'main/platinum/header.twig' %}

<div class="container">
  <div class="row">   
      <div class="col-md-4">
        <a href="/account">
          <div class="card-item b1">
            <i class="fas fa-user"></i>
            <h6>Hoşgeldin</h6>
            <h2>{{ user['username'] }}</h2>
          </div> 
        </a>
        <br>
      </div>
      <div class="col-md-4">
        <a href="/addfunds">
          <div class="card-item b2">
            <i class="fas fa-lira-sign"></i>
            <h6>Hesap Bakiyesi</h6>
            <h2>{{ user['balance'] }}</h2>
          </div> 
        </a>
        <br>
      </div>
      <div class="col-md-4">
        <a href="/orders">
          <div class="card-item b3">
            <i class="fas fa-burn"></i>
            <h6>Harcanan Tutar</h6>
            <h2>{{ user['spent'] }}{{ site['currency'] }}</h2>
          </div> 
        </a>
      </div>
     
   <div class="col-md-6 w">
 <br>
    {% if error %}
      <div class="alert alert-dismissible alert-danger">
        {{ errorText }}
      </div>
    {% endif %}

    {% if data["order"]["success"] == 1 %}
      <div class="alert alert-dismissible alert-success">
          <strong> {{ lang["neworder.success.id"] }}: </strong> {{ data['order']['id'] }} <br>
          <strong> {{ lang["neworder.success.service"] }}: </strong> {{ data['order']['service'] }} <br>
          <strong> {{ lang["neworder.success.link"] }}: </strong> {{ data['order']['link'] }} <br>
          <strong> {{ lang["neworder.success.quantity"] }}: </strong> {{ data['order']['quantity'] }} <br>
          <strong> {{ lang["neworder.success.charge"] }}: </strong> {{ data['order']['price'] }} <br>
          <strong> {{ lang["neworder.success.balance"] }}: </strong>{{ data['order']['balance'] }} <br>
      </div>
    {% endif %}
    {% if data["order"]["success"] == 2 %}
      <div class="alert alert-dismissible alert-success">
         <strong> {{ lang["neworder.success.id"] }}: </strong> {{ data['order']['id'] }} <br>
         <strong> {{ lang["neworder.success.service"] }}: </strong> {{ data['order']['service'] }} <br>
         <strong> {{ lang["neworder.success.username"] }}: </strong> {{ data['order']['link'] }} <br>
         <strong> {{ lang["neworder.success.quantity"] }}: </strong> {{ data['order']['min'] }} - {{ data['order']['max'] }} <br>
         <strong> {{ lang["neworder.success.posts"] }}: </strong> {{ data['order']['posts'] }} <br>
         <strong> {{ lang["neworder.success.delay"] }}: </strong>{{ data['order']['delay'] }} <br>
       </div>
    {% endif %}
	  <h4 class="index-announcement-title">Yeni Sipariş</h4>
      <div class="well">

        <form method="post" action="/">

            <div class="form-group">
              <label for="orderform-category" class="control-label">{{ lang["neworder.category"] }}</label>
              <select class="form-control" id="neworder_category" name="categories">
                {% for category in categories %}
                    <option {% if category['category_id'] == data["categories"] %} selected {% endif %} value="{{ category['category_id'] }}" ><i class="{{ category["icon"] }}"></i>{{ category["category_name"] }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="form-group">
              <label for="orderform-service" class="control-label">{{ lang["neworder.service"] }}</label>
              <select class="form-control" id="neworder_services" name="services">

              </select>
            </div>

            <div id="neworder_fields"></div>

            <div class="form-group" id="charge_div">
              <label for="charge" class="control-label">{{ lang["neworder.charge"] }}</label>
              <input type="text" class="form-control" id="charge" readonly>
            </div>

        {% if neworderTerms %}

<div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="neworder_check">
                <label class="custom-control-label" for="remember">{{ lang['neworder.recheck'] }}</label>
              </div>
              <br>
        {% endif %}
            
          <button type="submit" class="btn btn-primary">{{ lang["neworder.button"] }}</button>

        </form>
      </div>
    </div>   <div class="col-md-6 w">
 <br>

    <div class="main-panel" >
      <div class="index-announcement bshadow">
        <div class="index-announcement-title">
          <ul class="nav nav-tabs" style="display:flex;margin-top: 0px;margin-bottom: 0;border-left: 0px solid #eff0ff;padding-left: 0px;flex-wrap: nowrap;">
            <li class="active" style="padding: 10px;margin-bottom: 0px;"><a data-toggle="tab" href="#home">Duyurular</a></li>
            <li style="padding: 10px;margin-bottom: 0px;"><a data-toggle="tab" href="#menu1">Güncellemeler</a></li>
            <!--<li style="padding: 0px;margin-bottom: 0px;"><a data-toggle="tab" href="#menu2">Menu 2</a></li>-->
          </ul>
          </div>
        <div class="index-announcement-bell"></div>
        <div class="index-announcement-content">
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active show">
              <ul>
		
		          {% for new in newsList %}

		
                  <li>
                    <span class="icon"><img src="assets/img/icons/{{ new['news_icon'] }}.png"></span>
                    <span class="time"><i class="fas fa-history"></i>{{ new['news_date'] }}</span>
                    <span class="service">{{ new['news_title'] }}</span>
                    <span class="desc">{{ new['news_content'] }}</span>
                  </li>
                        {% endfor %}    
        
              
            
                </ul>
            </div>
            <div id="menu1" class="tab-pane fade">
              <div class="glycon-updates-container" data-glycon="updates-container" style="height:500px">
                                                {% for updates in updateList %}
                                                <div class="glycon-updates-pages-container">
                                                    <div data-glycon="updates-page" data-page="1" class="glycon-updates-page">
                                                        <div class="glycon-updates-item card p-4 mb-4" data-glycon="updates-item" data-type="add">
                                                            <div class="align-items-center">
                                                                <div class="col-md col-12">
                                                                    <h4 class="mb-0">{{updates.service_id}} - {{updates.alert}}</h4>
                                                                </div>
                                                                <div class="col-md-auto col-6" style="text-align: center;">
                                                                    <span data-glycon="timezone_replace" data-time-type="xtimeago" class="time_replaced"><small>{{updates.created_at}}</small></span>
                                                                </div>
                                                                <div class="col-12 col-md-auto">
                                                                    {% if updates.extra.action == "down"%}
                                                                    <div class="glycon-update-action p-downd">
                                                                        <span>Fiyat Düştü </span>
                                                                        <span>{{updates.extra.old}}₺ > {{updates.extra.new}}₺</span>
                                                                        </span>
                                                                    </div>
                                                                    {% elseif updates.extra.action == "up"%}
                                                                    <div class="glycon-update-action p-downd">
                                                                        <span>Fiyat Yükseldi </span>
                                                                        <span>{{updates.extra.old}}₺ > {{updates.extra.new}}₺</span>
                                                                        </span>
                                                                    </div>
                                                                    {% elseif updates.extra.action == "max_up"%}
                                                                    <div class="glycon-update-action p-max-y">
                                                                        <span>Maksimum Yükseldi </span>
                                                                        <span>{{updates.extra.old}} > {{updates.extra.new}}</span>
                                                                        </span>
                                                                    </div>
                                                                    {% elseif updates.extra.action == "max_down"%}
                                                                    <div class="glycon-update-action p-max">
                                                                        <span>Maksimum Düştü </span>
                                                                        <span>{{updates.extra.old}} > {{updates.extra.new}}</span>
                                                                    </div>
                                                                    {% elseif updates.extra.action == "min_down"%}
                                                                    <div class="glycon-update-action p-min">
                                                                        <span>Minimum Düştü </span>
                                                                        <span>{{updates.extra.old}} > {{updates.extra.new}}</span>
                                                                    </div>
                                                                    {% elseif updates.extra.action == "min_up"%}
                                                                    <div class="glycon-update-action p-min-y">
                                                                        <span>Minimum Yükseldi </span>
                                                                        <span>{{updates.extra.old}} > {{updates.extra.new}}</span>
                                                                    </div>
                                                                    {% elseif updates.extra.action == "aktif"%}
                                                                    <div class="glycon-update-action p-down">
                                                                        <span>Servis Eklendi </span>
                                                                    </div>
                                                                    {% elseif updates.extra.action == "pasif"%}
                                                                    <div class="glycon-update-action p-delete">
                                                                        <span>Servis Silindi </span>
                                                                    </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
            </div>
            <!--<div id="menu2" class="tab-pane fade">
              <h3>Menu 2</h3>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>-->
          </div>
        </div>
      </div>
    </div>
    </div>
    
    
  </div>
</div>


{% include 'main/platinum/footer.twig' %}

<script>
  $( "form" ).submit(function() {
  	$('button[type="submit"]').attr('disabled',true);
  	setTimeout(function(){ $('button[type="submit"]').attr('disabled',false); }, 2000);
  });
</script>